@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}

.attribution{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card {
    text-align: center;
    max-width: 20rem;
    margin: 0.625rem;
    padding: 0.9375rem;
    border-radius: 1.1875rem;
    background-color: var(--white);
    box-shadow: 0px 5px 30px hsl(220, 15%, 80%);
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.title{
    padding: 0 20px 0 20px;
    margin: 15px 0;
    font-size: 1.35rem;
    color: var(--darkblue);
}

.card p {
    padding: 0 20px 0 20px;
    margin-bottom: 20px;
    color: var(--grayishblue);
}